# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\admin\OneDrive\Ezequiel\Facultad\4to Año - 1er Cuatrimestre\Robotica\Python\Tp1-grupal\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
